//
// Variables
// --------------------------------------------------
$primary : #000;
$default: #f15f2a;
$color01: #cc9f65; //pizza + break
$color02: #a23b19; //wine
$color03: #6F4E37; //coffee
$color04: #96b125; //vegetable + dessert
$color05: #ff84ae; //ice cream
$main-color: $default;